* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}

.card { background-color: rgba(245, 245, 245, 0.4); }

#logo-img {
    width: 25%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container btn {
    align-items: center;
}